.app
{
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.layout
{
    display: flex;
    flex-grow: 1;
    padding-top: 96px;
    background-color: black;
    overflow: hidden;
}

.mainContent
{
    flex-grow: 1;
    overflow-y: auto;
    background-color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 0;
}