body
{
    margin: 0;
    padding: 0;
}

.navContainer
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 96px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 465px;
    z-index: 1000;
}

.logo
{
    width: 114px;
    height: 28px;
}

.bell img,
.ava img,
.kvadrat img
{
    width: 26px;
    height: 26px;
}

.inputNav
{
    display: flex;
}

.search
{
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    left: 59.5%;
    bottom: 33%;
}

.combine input
{
    border-radius: 50px;
    border: solid rgba(255, 255, 255, 0.53) 1px;
    background-color: black;
    width: 537px;
    height: 39px;
}

.combine input::placeholder
{
    color: white;
    padding: 30px;
    font-size: 15px;
}

.mic
{
    border: none;
    cursor: pointer;
    background-color: #D9D9D91A;
    padding: 4px 15px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.combine
{
    margin-right: 20px;
}

.buttons
{
    display: flex;
    gap: 20px;
}